a2wsgi==1.10.10
aiohappyeyeballs==2.6.1
aiohttp==3.13.3
aiosignal==1.4.0
aiosmtplib==5.0.0
aiosqlite==0.22.1
alembic==1.17.2
altair==6.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.0
apache-airflow==3.0.6
apache-airflow-core==3.0.6
apache-airflow-providers-common-compat==1.10.1
apache-airflow-providers-common-io==1.7.0
apache-airflow-providers-common-sql==1.30.1
apache-airflow-providers-smtp==2.4.1
apache-airflow-providers-standard==1.10.1
apache-airflow-task-sdk==1.0.6
argcomplete==3.6.3
asgiref==3.11.0
asttokens==3.0.1
attrs==25.4.0
bcrypt==5.0.0
beautifulsoup4==4.14.3
blinker==1.9.0
cachetools==6.2.6
cadwyn==6.0.0
camelot-py==1.0.9
certifi==2025.11.12
cffi==2.0.0
chardet==5.2.0
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colorlog==6.10.1
contourpy==1.3.3
cron_descriptor==2.0.6
croniter==6.0.0
cryptography==46.0.3
cycler==0.12.1
dataclasses-json==0.6.7
decorator==5.2.1
Deprecated==1.3.1
dill==0.4.0
distro==1.9.0
dnspython==2.8.0
dotenv==0.9.9
ecdsa==0.19.1
email-validator==2.3.0
et_xmlfile==2.0.0
executing==2.2.1
faiss-cpu==1.13.2
fastapi==0.124.2
fastapi-cli==0.0.20
fastapi-cloud-cli==0.8.0
fastar==0.8.0
filelock==3.24.2
filetype==1.2.0
Flask==3.1.0
Flask-Bcrypt==1.0.1
Flask-Cors==4.0.0
Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Migrate==4.0.5
Flask-SQLAlchemy==3.1.1
fonttools==4.61.1
frozenlist==1.8.0
fsspec==2025.12.0
genai==0.3.0
gitdb==4.0.12
GitPython==3.1.46
google-ai-generativelanguage==0.6.15
google-api-core==2.25.2
google-api-python-client==2.188.0
google-auth==2.47.0
google-auth-httplib2==0.3.0
google-genai==1.59.0
google-generativeai==0.8.6
googleapis-common-protos==1.72.0
greenlet==3.3.0
grpcio==1.76.0
grpcio-status==1.71.2
gunicorn==23.0.0
h11==0.16.0
hf-xet==1.2.0
httpcore==1.0.9
httplib2==0.31.1
httptools==0.7.1
httpx==0.28.1
httpx-sse==0.4.3
huggingface_hub==1.4.1
idna==3.11
importlib_metadata==8.7.1
ipython==9.10.0
ipython-genutils==0.2.0
ipython_pygments_lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.12.0
joblib==1.5.3
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
kiwisolver==1.4.9
langchain==1.2.6
langchain-classic==1.0.1
langchain-community==0.4.1
langchain-core==1.2.13
langchain-google-genai==4.2.0
langchain-openai==1.1.9
langchain-text-splitters==1.1.0
langgraph==1.0.6
langgraph-checkpoint==4.0.0
langgraph-prebuilt==1.0.6
langgraph-sdk==0.3.3
langsmith==0.6.4
lazy-object-proxy==1.12.0
libcst==1.8.6
linkify-it-py==2.0.3
lockfile==0.12.2
lxml==6.0.2
Mako==1.3.10
markdown-it-py==4.0.0
MarkupSafe==3.0.3
marshmallow==3.26.2
matplotlib==3.10.8
matplotlib-inline==0.2.1
mdurl==0.1.2
methodtools==0.4.7
more-itertools==10.8.0
mpmath==1.3.0
msgspec==0.20.0
multidict==6.7.0
mypy_extensions==1.1.0
narwhals==2.16.0
networkx==3.6.1
numpy==2.4.1
openai==2.21.0
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
openpyxl==3.1.5
opentelemetry-api==1.39.1
opentelemetry-exporter-otlp==1.39.1
opentelemetry-exporter-otlp-proto-common==1.39.1
opentelemetry-exporter-otlp-proto-grpc==1.39.1
opentelemetry-exporter-otlp-proto-http==1.39.1
opentelemetry-proto==1.39.1
opentelemetry-sdk==1.39.1
opentelemetry-semantic-conventions==0.60b1
orjson==3.11.5
ormsgpack==1.12.2
outcome==1.3.0.post0
packaging==25.0
pandas==2.3.3
pandas-stubs==2.3.3.260113
parso==0.8.5
passlib==1.7.4
pathlib_abc==0.5.2
pathspec==0.12.1
patsy==1.0.2
pdf2image==1.17.0
pdfminer.six==20251230
pdfplumber==0.11.9
pendulum==3.1.0
pillow==12.0.0
plotly==6.5.2
pluggy==1.6.0
prompt_toolkit==3.0.52
propcache==0.4.1
proto-plus==1.27.0
protobuf==5.29.5
psutil==7.2.1
psycopg2-binary==2.9.11
pure_eval==0.2.3
pyarrow==23.0.1
pyasn1==0.6.2
pyasn1_modules==0.4.2
pycparser==2.23
pydantic==2.12.5
pydantic-settings==2.12.0
pydantic_core==2.41.5
pydeck==0.9.1
Pygments==2.19.2
PyJWT==2.10.1
pyparsing==3.3.1
pypdf==5.9.0
PyPDF2==3.0.1
pypdfium2==5.4.0
PySocks==1.7.1
pytesseract==0.3.13
python-daemon==3.1.2
python-dateutil==2.9.0.post0
python-docx==0.8.11
python-dotenv==1.0.0
python-jose==3.5.0
python-multipart==0.0.21
python-slugify==8.0.4
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
regex==2026.1.15
reportlab==4.4.7
requests==2.32.5
requests-toolbelt==1.0.0
retryhttp==1.4.0
rich==14.2.0
rich-argparse==1.7.2
rich-toolkit==0.17.1
rignore==0.7.6
rpds-py==0.30.0
rsa==4.9.1
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.0
seaborn==0.13.2
selenium==4.39.0
sentence-transformers==5.2.2
sentry-sdk==2.48.0
setproctitle==1.3.7
setuptools==82.0.0
shellingham==1.5.4
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8.1
SQLAlchemy==2.0.48
SQLAlchemy-JSONField==1.0.2
SQLAlchemy-Utils==0.42.1
sqlparse==0.5.5
stack-data==0.6.3
starlette==0.50.0
statsmodels==0.14.6
streamlit==1.54.0
structlog==25.5.0
svcs==25.1.0
sympy==1.14.0
tabulate==0.9.0
tenacity==9.1.2
termcolor==3.3.0
text-unidecode==1.3
threadpoolctl==3.6.0
tiktoken==0.12.0
tokenizers==0.22.2
toml==0.10.2
torch==2.10.0
tornado==6.5.4
tqdm==4.67.1
traitlets==5.14.3
transformers==5.1.0
trio==0.32.0
trio-websocket==0.12.2
typer==0.23.1
typer-slim==0.23.1
types-pytz==2025.2.0.20251108
typing-inspect==0.9.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
uc-micro-py==1.0.3
unicorn==2.1.4
universal_pathlib==0.3.7
uritemplate==4.2.0
urllib3==2.6.2
uuid6==2025.0.1
uuid_utils==0.13.0
uvicorn==0.38.0
vdom==0.6
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.5.3
websocket-client==1.9.0
websockets==15.0.1
Werkzeug==3.1.4
wirerope==1.0.0
wrapt==2.0.1
wsproto==1.3.2
xxhash==3.6.0
yarl==1.22.0
zipp==3.23.0
zstandard==0.25.0
